{% extends "../base.html" %}
{% block title %}
Grupid
{% endblock title %}
{% block content %}
<div>
    <div
        class="flex-columns sm:flex space-x-0 sm:space-x-4 space-y-4 sm:space-y-0 px-12">
        {% for assembly_group in assembly_groups %}

        <div class="assembly_group dark:text-gray-400 flex-1 p-4
        flex-initial text-lg
        border-solid border-2 border-indigo-600 w-32 h-14 rounded-md"
            hx-target="#parts_for"
            hx-get="{% url 'assemby_group_parts' assembly_group_id=assembly_group.id %}">

            {{assembly_group.name}}

        </div>
        {% endfor %}
    </div>
</div>
<div id="parts_for"
    class="md:flex">


</div>

{% endblock content %}