{% extends "../base.html" %}
{% block title %}
new part
{% endblock title %}
{% block content %}


<form enctype="multipart/form-data"
  method="post"
  novalidate>
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field.errors }}
  {{ hidden_field }}
  {% endfor %}

  <table class="text-black dark:text-white"
    border="1">
    {% for field in form.visible_fields %}
    <tr>
      <th>{{ field.label_tag }}</th>
      <td>
        {{ field.errors }}
        <span class="text-gray-900">{{ field }}</span>
        {{ field.help_text }}
      </td>
    </tr>
    {% endfor %}
  </table>

  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
  {# <a href="{% url 'part_delete' part_id %}"></a> #}
</form>
{% endblock content %}