{% load i18n %}
{% load compress %}
{% load static %}
{% load widget_tweaks %}
<form method="post"
  hx-post="{% url 'query' %}"
  hx-target="this"
  hx-swap="outerHTML"
  class="space-y-8">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field.errors }}
  {{ hidden_field }}
  {% endfor %}
  {% for field in form.visible_fields %}
  <div>
    <label
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field|add_class:'block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light' }}
    {{ field.errors }}
    {{ field.help_text }}
  </div>
  {% endfor %}
  <div class="form-actions">
    <button type="submit"
      class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-indigo-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:indigo-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
      {% translate 'Send' %}
    </button>
  </div>
</form>