aiosmtpd
asgiref
asttokens
asyncio
atpublic
attrs
awscrt
backcall
backports-zoneinfo
boto3
botocore
certifi
cffi
charset-normalizer
click
coverage
cryptography
debugpy
decorator
defusedxml
dj-database-url
django
django-allauth
django-appconf
django-compressor
django-crispy-forms
django-htmx
django-phonenumber-field
django-phonenumbers
django-storages
django-widget-tweaks
executing
gunicorn
idna
importlib-metadata
jedi
jmespath
markdown
markdown-it-py
matplotlib-inline
mccabe
mdurl
mypy-extensions
oauthlib
packaging
parso
pathspec
pexpect
phonenumbers
pickleshare
pillow
pip-chill
platformdirs
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
pycodestyle
pycparser
pyflakes
pygments
pyjwt
pymysql
python-dateutil
python-dotenv
python-memcached
python3-openid
rcssmin
requests
requests-oauthlib
rich
rjsmin
s3transfer
six
sqlparse
stack-data
toml
tomli
traitlets
types-cryptography
typing-extensions
urllib3
wcwidth
whitenoise
zipp
