autopep8
black
coverage
cryptography
django-allauth
django-compressor
django-crispy-forms
django-nose
django-phonenumber-field
django-phonenumbers
dj-database-url
flake8
gunicorn
Markdown
Pillow
pip-chill
psycopg2-binary
python-dotenv
python-memcached
toml
types-cryptography
typing-extensions
whitenoise