aiosmtpd
asgiref
asttokens
asyncio
atpublic
attrs
awscrt
backcall
backports-zoneinfo
boto3
botocore
certifi
cffi
charset-normalizer
click
colorama
coverage
cryptography
cssbeautifier
debugpy
decorator
defusedxml
dj-database-url
django
django-allauth
django-appconf
django-compressor
django-crispy-forms
django-htmx
django-phonenumber-field
django-phonenumbers
django-storages
django-widget-tweaks
djlint
editorconfig
exceptiongroup
executing
gunicorn
html-tag-names
html-void-elements
idna
importlib-metadata
iniconfig
jedi
jmespath
jsbeautifier
json5
markdown
markdown-it-py
matplotlib-inline
mccabe
mdurl
mypy-extensions
oauthlib
packaging
parso
pathspec
pexpect
phonenumbers
pickleshare
pillow
pip
pip-chill
platformdirs
pluggy
prompt-toolkit
ptyprocess
pure-eval
pycodestyle
pycparser
pyflakes
pygments
pyjwt
pymysql
pytest
pytest-django
python-dateutil
python-dotenv
python-memcached
python3-openid
pyyaml
rcssmin
regex
requests
requests-oauthlib
rich
rjsmin
s3transfer
setuptools
six
sqlparse
stack-data
toml
tomli
tqdm
traitlets
types-cryptography
typing-extensions
urllib3
wcwidth
whitenoise
zipp
