aiosmtpd
asgiref
asttokens
asyncio
atpublic
attrs
backcall
boto3[crt]
certifi
cffi
charset-normalizer
click
cryptography
debugpy
decorator
defusedxml
dj-database-url
Django<=4.1.5
django-allauth
django-appconf
django-compressor
django-crispy-forms
django-htmx
django-phonenumber-field
django-phonenumbers
django-storages
executing
gunicorn
idna
jedi
Markdown
mccabe
mypy-extensions
oauthlib
parso
pathspec
pexpect
phonenumbers
pickleshare
Pillow
platformdirs
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
pycodestyle
pycparser
pyflakes
Pygments
PyJWT
python-dotenv
python-memcached
python3-openid
rcssmin
requests
requests-oauthlib
rjsmin
six
sqlparse
stack-data
toml
tomli
traitlets
types-cryptography
typing_extensions
urllib3
wcwidth
whitenoise
