{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
Remoreks - Home
{% endblock title %}
{% block content %}

<p class="mb-6 text-xl text-gray-800 dark:text-gray-400 text-justify">
    <span class="text-2xl">
        OÜ Remoreks
    </span>on asutatud 1997. aastal ja on Eestis ainulaadne BMW
    lammutusele ja varuosade müügile spetsialiseerunud koda.
    Ettevõttes töötavad oma ala spetsialistid, kelle prioriteediks on
    pakkuda Teile sobivat teenindust.
    Oleme <a href="#">
        Autolammutuste Liidu liige.
    </a>
</p>

<section class="bg-gray-200 dark:bg-gray-800">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md"
        id="query-form-container">
        <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-800 dark:text-gray-400">
            {% translate "Võta ühendust" noop %}</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
            hx-get="{% url 'query' %}"
            hx-trigger="load">
            Soovid pärida varuosa või muud informatsiooni? Kirjuta
            meile.
        </p>

</section>
{% endblock content %}